<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Trippy</title>
</head>
<body>
    <div class="container">
        <a class="btn btn-danger float-right mt-2 ml-2" href="/logout">Logout</a>
        <a class="btn btn-warning float-right mt-2 ml-2" href="/dashboard">Home</a>
        <!-- User-in-session's name should appear at top of page -->
        <h1>Welcome <span class="text-danger">{{user.first_name}}</span>! Create a New Trip! </h1>

        <!-- Jinja statements (%%) handle validations -->
        <!-- Validations coordinate with views.py and models.py -->

        <!-- Trip fields: destination, start date, end date, and plan -->
        <form action="/new_trip" method="POST">
            {% csrf_token %}
            <label>Destination
                {% if messages %}
                    {% for message in messages %}
                        {% if message.extra_tags == 'dest' %}
                        <span class="text-danger small"> {{ message }} </span>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </label>
                <input class="form-control" type="text" name="dest">

            <label>Start Date
                {% if messages %}
                    {% for message in messages %}
                        {% if message.extra_tags == 'start' %}
                        <span class="text-danger small"> {{ message }} </span>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </label>
                <input class="form-control" type="date" name="start">

            <label>End Date
                {% if messages %}
                    {% for message in messages %}
                        {% if message.extra_tags == 'end' %}
                        <span class="text-danger small"> {{ message }} </span>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </label>
                <input class="form-control" type="date" name="end">

            <label>Plan
                {% if messages %}
                    {% for message in messages %}
                        {% if message.extra_tags == 'plan' %}
                        <span class="text-danger small"> {{ message }} </span>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </label>
            <!-- textarea field used instead of input field type 'text' to handle a larger input -->
                <textarea class="form-control" type="text" name="plan"></textarea>

            <input class="btn btn-info mt-2" type="submit" value="Create Trip!">

            <!-- 'Cancel' buttom simply redirects back to dashboard -->
            <a class="btn btn-danger mt-2" href="/dashboard">Cancel</a>
        </form> <!-- End of form -->

    </div> <!-- End of container -->
</body>
</html>