<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- BOOTSTRAP for CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Trippy</title>
</head>
<body>
    <div class="container">
    <h1 class="display-1">Welcome! Let's Travel</h1>

<!-- -----------------------------------------Register -->
    <div class="row">
        <div class="col form-group">
            <h2>Registration</h2>

            <form action="/register" method="POST">
                {% csrf_token %}

            <!-- Jinja statements (%%) handle validations -->
            <!-- Validations coordinate with views.py and models.py -->

            <!-- Registration fields: first name, last name, email address, password, and a password confirmation -->
                <label>First Name
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.extra_tags == 'first_name' %}
                            <span class="text-danger small"> {{ message }} </span>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </label>
                    <input class="form-control" type="text" name="first_name">

                <label>Last Name
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.extra_tags == 'last_name' %}
                            <span class="text-danger small"> {{ message }} </span>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </label>
                    <input class="form-control" type="text" name="last_name">

                <label>Email
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.extra_tags == 'email' %}
                            <span class="text-danger small"> {{ message }} </span>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </label>
                    <input class="form-control" type="text" name="email">

                <label>Password
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.extra_tags == 'password' %}
                            <span class="text-danger small"> {{ message }} </span>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </label>
                    <input class="form-control" type="password" name="password">

                <label>Password Confirmation
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.extra_tags == 'pass_conf' %}
                            <span class="text-danger small"> {{ message }} </span>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </label>
                    <input class="form-control" type="password" name="pass_conf">

                <input class="btn btn-info mt-2" type="submit" value="Register!">
            </form>
        </div> <!-- End of Register col -->

<!-- -----------------------------------------Login -->
        <div class="col">
            <h2>Login </h2>

            <form action="/login" method="POST">
                {% csrf_token %}
                <!-- Login fields only include EMAIL and PASSWORD for validations -->

                <label>Email
                    {% if messages %}
                        {% for message in messages %}
                        <!-- Both validation messages handled at same place -->
                            {% if message.extra_tags == 'email_input' or message.extra_tags == 'password_input' %}
                            <span class="text-danger small"> {{ message }} </span>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </label>
                    <input class="form-control" type="text" name="email_input">

                <label>Password</label>
                    <input class="form-control" type="password" name="password_input">

                <input class="btn btn-info mt-2" type="submit" value="Login!">
            </form>
        </div> <!-- End of Login col -->

    </div><!-- End of Row -->

    </div> <!-- End of container -->
</body>
</html>