<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Trippy</title>
</head>
<body>
    <div class="container">
        <!-- 'Logout' and 'Home' buttons included at top of page for user ease of access -->
        <a class="btn btn-danger float-right mt-2 ml-2" href="/logout">Logout</a>
        <a class="btn btn-warning float-right mt-2 ml-2" href="/dashboard">Home</a>
        <!-- User-in-session's name should appear at top of page -->
        <h1>Welcome <span class="text-danger">{{user.first_name}}</span>! Read about this trip!</h1>

        <!-- only one trip's information should be passed forward via a query based on the id# included in the url -->
        <h1 class="display-4">Destination:<span class="text-danger">{{trip.dest}}</span></h1>

        <div class="form-group">

            <label class="form-control">Start Date: <span class="text-info">{{trip.start}}</span></label>

            <label class="form-control">End Date: <span class="text-info">{{trip.end}}</span></label>

            <label class="form-control">Trip Created On: <span class="text-info">{{trip.created_at}}</span></label>

            <label class="form-control">Trip Last Updated On: <span class="text-info">{{trip.updated_at}}</span></label>

            <label class="form-control">Plan: <span class="text-info">{{trip.plan}}</span></label>

            <!-- for relationship field, need to access field w/i trip and then access fields w/i the related model (trip -> user (via 'creator' field) -> first name & last name) -->
            <label class="form-control">Created By: <span class="text-info">{{trip.creator.first_name}} {{trip.creator.last_name}}</span></label>
        </div>

    </div><!-- End of container -->
</body>
</html>